<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" href="{% static "css/photos.css" %}" rel="stylesheet">
</head>
<body>
<header class="header_nav">
    <nav>
        <ul class="left">
            <li><a href="#">主页</a></li>
            <li><a href="#">图区</a></li>
        </ul>
        <ul class="right">
            <li class="login"><a href="#">登录</a></li>
            <li><a href="#">注册</a></li>
        </ul>
    </nav>
</header>
<div class="photo_wall">
    {% for img in img_list %}
        <img src="{% static img %}" alt="img">
    {% endfor %}
</div>
</body>
</html>