
body{
    padding-top: 70px;
    background-color: #eee;
}

.anchor-fix{
    position: relative;
    top: -60px;
    display: block;
    height: 0;
    overflow: hidden;
}
/*.article{*/
    /*background-color: white;*/
    /*border: 1px solid rgba(255, 255, 255, 0.3);*/
    /*box-shadow: 1px 2px 2px rgba(50, 50, 50, 0.4);*/
/*}*/



.article-content-list{
    padding: 0;
}

.article-content{
    background-color: white;
}
#article-header{
    padding-bottom: 0;
}

.article-author{
    font-size: 1.1em;
    padding-right: 10px;
    line-height: 1.7em;
}

.article-title{
  padding-bottom: 9px;
  margin: 20px 0 5px;
  border-bottom: 1px solid #eee;
}

.comment{
    border-radius: 7px;
    padding: 11px 19px;
    background-color: white;
}
.comment-header{
  height: 50px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.comment-img{
    border-radius: 50%;
    height: 50px;
    margin-top: -5px;
}
.floor-count{
    font-size: 40px;
    margin-top: -9px;
    color: #999999;
}
.comment-content{
    min-height: 100px;
}

.comment-footer{
    border-top: 2px dashed #eee;
}
.comment-footer ul{
    margin: 0;
}
.post-date{
    display: block;
}

.bbs-footer{
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

/* aside */
.article-aside{
    padding-right: 0;
    /*position: fixed;*/
}
.article-aside ul{
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 0;
}
/*.article-aside a{*/
    /*line-height: 18px;*/
/*}*/

/*.floor-nav-icon{*/
    /*/!*font-size: 18px;*!/*/
    /*line-height: 20px;*/
    /*vertical-align: middle;*/
    /*/!*background-color: #222222;*!/*/
/*}*/

.floor-nav-icon{
    border: 2px solid rgba(128,128,128,1);
    /*content: "";*/
    display: block;
    float: left;
    height: 18px;
    margin: 1px 8px 0 0;
    width: auto;
    vertical-align: middle;
    text-align: center;
    line-height: 16px;
    padding: 0 4px;
}

.floor-nav-h:before {
    border: 2px solid rgba(128,128,128,1);
    content: "";
    display: block;
    float: left;
    height: 1em;
    margin: 2px 8px 0 2em;
    width: 1em;
    /*vertical-align: middle;*/
    /*text-align: center;*/
    /*line-height: 16px;*/
    /*padding: 0 4px;*/
    border-radius: 50%;
}

.floor-nav-pipe {
    background-color: gray;
    height: 22px;
    padding-top: 2px;
    position: absolute;
    /*right: auto;*/
    /*bottom: auto;*/
    /*left: 26px;*/
    width: 2px;
    /*margin-top: -1px;*/
    margin: -1px 0 0 8px;
    /*display: inline;*/
}