{% extends "base/base-with-nav.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="article">
    <div class="well" id="article-header">
      <div class="row">
        <div class="col-sm-10">
          <strong class="article-author">作者名字</strong>
          <span>我怀疑我是个怀疑论者</span>
          <p>在<em>2015-08-16 10:32:03</em>发布</p>
          <h1 class="article-title">帖子使用示例<small> 一篇补充字数的水帖</small></h1>
        </div>
        <div class="col-sm-2">
          <img class="img-thumbnail" src="{% static "images/001-0.jpg" %}">
        </div>
      </div>
      <ul class="list-inline"><li>字数</li><li>阅读</li><li>楼高</li><li>喜欢</li></ul>
    </div>
    <div class="col-sm-9 well article-content">
      <p>【契子】需要一个主题来调试显示形式</p>
      <h1>起</h1>
      <p>欢迎来到小站，这里是作为第一个小段的内容，接下来是补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数。
      补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数，补充字数补充字数补充字数，
      补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数。</p>
      <h1>承</h1>
      <p>子标题示例</p>
      <h2>承-天</h2>
      <p>补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数,
      补充字数补充字数补充字数补充字数补充字数</p>
      <h2>承-地</h2>
      <p>补充字数补充字数</p>
      <h2>承-玄</h2>
      <p>补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数</p>
      <h2>承-黄</h2>
      <p>补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数
      补充字数补充字数补充字数补充字数补充字数补充字数</p>
      <h1>转</h1>
      <p>欢迎来到小站，这里是作为第一个小段的内容，接下来是补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数。
      补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数，补充字数补充字数补充字数，
      补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数。</p>
      <h1>合</h1>
      <p>欢迎来到小站，这里是作为第一个小段的内容，接下来是补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数。
      补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数，补充字数补充字数补充字数，
      补充字数补充字数补充字数补充字数补充字数补充字数补充字数补充字数。</p>
      <h1>结</h1>
      <p>谢谢观看</p>
    </div>
    <div class="col-sm-3 article-aside">
      <div class="well">
        <ul>
{#          <li>起</li>#}
{#          <li>承</li>#}
{#          <li>转</li>#}
{#          <li>合</li>#}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}